<div class="limiter animated fadeIn">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
                    Recuperar Contraseña
                </span>
                <p class="font-weight-bold">Ingresa tus datos para recuperar la contraseña</p>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" placeholder="Nombre" required>
                    <span class="focus-input100"></span>
                </div>
            </form>
            <button class="login100-form-btn m-t-10" routerLink="/login">
                Volver Atrás
            </button>
        </div>
    </div>
</div>